In [1]:
#import required libraries
import pandas as pd 
import numpy as np

In [2]:
#load dataset
content=pd.read_csv("G:\Data science\Datasets\Accenture\Content.csv")
content.head(2)

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...

In [3]:
reactions=pd.read_csv("G:\Data science\Datasets\Accenture\Reactions.csv")
reactions.head(2)

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50

In [4]:
reactiontype=pd.read_csv("G:\Data science\Datasets\Accenture\ReactionTypes.csv")
reactiontype.head(2)

   Unnamed: 0   Type Sentiment  Score
0           0  heart  positive     60
1           1   want  positive     70

In [5]:
#cleaning the dataset
content.drop("Unnamed: 0",axis=1,inplace=True)
reactions.drop("Unnamed: 0",axis=1,inplace=True)
reactiontype.drop("Unnamed: 0",axis=1,inplace=True)

In [6]:
df=content.merge(reactions,how='left',on='User ID')
df=df.rename(columns=({'Type_x':'Cont_Type','Type_y':'Type'}))

In [7]:
df=df.merge(reactiontype,how='left',on='Type')
df = df.rename(columns={'Type':'React_Type'})

In [8]:
df.head()

,Content ID_x,User ID,Cont_Type,Category,URL,Content ID_y,React_Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,5118e9c5-1377-4cc5-a486-65b35b7b7b76,intrigued,2020-07-28 07:01:21,positive,45
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,850fe90d-47d6-4eb7-b9c8-810afcb99ce9,hate,2021-05-29 04:12:17,negative,5
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,07f88a73-aef2-45fd-8b5d-418e448b853d,hate,2021-01-19 22:28:57,negative,5
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,457301ee-3e87-40d8-8b82-ea4e1fa90e39,want,2020-08-10 05:25:41,positive,70
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,497da46d-d5d5-45b0-827a-f2b75d7bf4c2,interested,2021-01-24 09:03:31,positive,30

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44877 entries, 0 to 44876
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Content ID_x  44877 non-null  object
 1   User ID       44877 non-null  object
 2   Cont_Type     44877 non-null  object
 3   Category      44877 non-null  object
 4   URL           36080 non-null  object
 5   Content ID_y  44877 non-null  object
 6   React_Type    44877 non-null  object
 7   Datetime      44877 non-null  object
 8   Sentiment     44877 non-null  object
 9   Score         44877 non-null  int64
dtypes: int64(1), object(9)
memory usage: 3.8+ MB

In [10]:
df.isnull().sum()

Content ID_x       0
User ID            0
Cont_Type          0
Category           0
URL             8797
Content ID_y       0
React_Type         0
Datetime           0
Sentiment          0
Score              0
dtype: int64

In [11]:
df.drop('URL',axis=1,inplace=True)

In [12]:
df.head()

,Content ID_x,User ID,Cont_Type,Category,Content ID_y,React_Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,5118e9c5-1377-4cc5-a486-65b35b7b7b76,intrigued,2020-07-28 07:01:21,positive,45
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,850fe90d-47d6-4eb7-b9c8-810afcb99ce9,hate,2021-05-29 04:12:17,negative,5
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,07f88a73-aef2-45fd-8b5d-418e448b853d,hate,2021-01-19 22:28:57,negative,5
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,457301ee-3e87-40d8-8b82-ea4e1fa90e39,want,2020-08-10 05:25:41,positive,70
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,497da46d-d5d5-45b0-827a-f2b75d7bf4c2,interested,2021-01-24 09:03:31,positive,30

In [13]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44877 entries, 0 to 44876
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Content ID_x  44877 non-null  object
 1   User ID       44877 non-null  object
 2   Cont_Type     44877 non-null  object
 3   Category      44877 non-null  object
 4   Content ID_y  44877 non-null  object
 5   React_Type    44877 non-null  object
 6   Datetime      44877 non-null  object
 7   Sentiment     44877 non-null  object
 8   Score         44877 non-null  int64
dtypes: int64(1), object(8)
memory usage: 3.4+ MB

In [14]:
df['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [17]:
df['Category']= df['Category'].replace('"', '', regex=True)
df['Category']=df['Category'].str.lower()

In [18]:
df['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [19]:
df.to_csv('data.csv',index=False)

In [26]:
#top 5 performing categories
df.groupby('Category').agg({"React_Type" : "count"}).reset_index().sort_values(by='React_Type', ascending=False).head(5)

      Category  React_Type
0      animals        3230
12  technology        3230
14      travel        3131
9      science        3092
2      culture        2968

In [27]:
df.groupby('Category').agg({"Score" : "sum"}).reset_index().sort_values(by='Score', ascending=False).head()

      Category   Score
12  technology  127947
0      animals  127701
14      travel  126389
9      science  122172
2      culture  120907